* {
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    height: 100%;
}

h1{

    font-size: 74;
    font-family: Countryside, cursive;
}

.navbar {
    height: 12vh;
    width: 100%;
    list-style-type: none;
    margin-top: 0;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 159, 160);
}
.nav-item{
    display: inline;
    padding: 10px;
    margin:0;
    align-content: right;
}
.home {
    display: block;
    background-color: rgb(255, 199, 192);
    margin:0;
    padding: 0;
}
#logo{
    max-width:100%;
}
.logo{
    padding-right: 70vh;
}